$highlight-color: #1EA896;
$link-color: #EE6352;
$clicked-color: #39304A;
$text-color: #202030;

@font-face {
    font-family: EBGaramond;
    src: url(EBGaramond-Regular.ttf);
}

@font-face {
    font-family: Junction;
    src: url(junction-regular.ttf);
}

* {
    font-family: EBGaramond;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Junction;
    font-style: bold;
}

h1.blog-post-title {
    margin-bottom: 0px;
}

p, li {
    font-size: 20px;
    line-height: 1.6em;
}

a {
    color: $link-color;
    &:visited {
        color: $clicked-color;
    }
}

header {
    text-align: right;
    margin-top: 50px;
    padding-top: 10px;
    border-top: solid $highlight-color;
}

navbar {
    text-align: right;
}

navbar > a {
    color: $text-color;
    text-decoration: transparent;
    margin-left: 50px;
    font-size: 24px;
    font-family: Junction;
    transition-property: text-decoration, translate;
    transition-duration: 0.4s;

    &:hover {
        text-decoration: underline 3px $highlight-color;
        translate: 100px;
    }
}

footer {
    margin-top: 75px;
    text-align: center;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#copyright {
    font-size: 12px;
}
