:root {
    --bg-color: #222;
    --fg-color: #eee;
}

body {
    font-family: 'Linux Libertine';
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a, .section-name {
    transition: background-color 0.125s, color 0.125s;
    color: var(--fg-color);
}

a:hover, .section-name:hover, nav .active-section-name {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

h1 {
    margin: 0 0 20px 0;
    font-size: 3em;
    text-align: center;
    border-bottom: solid;
    border-width: 2px;
    padding-bottom: 7px;
}

nav {
    width: 30%;
    float: left;
    display: inline;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    margin: 10px 0;
}

.content {
    display: none;
}

main {
    padding-bottom: 5vh;
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.infobox {
    position: relative;
    width: 500px;
    margin: 0 auto;
    top: 5vh;
}
