:root {
    --bg-color: #0f084b;
    --fg-color: #a6cfd5;
}

body {
    font-family: 'GlacialIndifferenceRegular';
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a, .section-name {
    transition: background-color 0.125s, color 0.125s;
    color: var(--fg-color);
}

a:hover, .section-name:hover, nav .active-section-name {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

h1 {
    margin: 0 0 20px 0;
    font-size: 3em;
    text-align: center;
    border-bottom: solid;
    border-width: 2px;
}

nav {
    width: 30%;
    float: left;
    display: inline;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    margin: 10px 0;
}

.section-name {
    display: block;
    width: 150px;
    font-size: 1.1em;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
}

main {
    width: 70%;
    float: left;
    display: inline;
}

.content {
    display: none;
}

main div.active-content {
    display: block;
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.infobox {
    position: relative;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    top: 15vh;
}
