{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    {% if section.title %}
      {% set title = section.title %}
    {% elif page.title %}
      {% set title = page.title %}
    {% endif %}
    <title>{{ title }}{% if title != config.extra.author %} - {{ config.extra.author }}{% endif %}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="container">
      <header>
        {% block header %}
        <navbar>
          <a href="/">About</a>
          <a href="/blog">Blog</a>
          <a href="https://github.com/jackstanek/cv/releases/latest/cv.pdf">CV</a>
        </navbar>
        {% endblock header %}
      </header>

      <main>
        {% block content %}
        {% if section.content %}
          {{ section.content | safe }}
        {% elif page.content %}
          <h1>{{page.title}}</h1>
          {{ page.content | safe }}
        {% endif %}
        {% endblock content %}
      </main>

      <footer>
        {% block footer %}
        <span id="copyright">
          Copyright 2023 Jack Stanek. All rights reserved.
          {{ macros::licensetext() }}
        </span>
        {% endblock footer %}
      </footer>
    </div>
  </body>
</html>
